.editor-class {
  padding: 0 1rem 0 1rem;
  border: 1px solid rgb(236, 231, 231);
  color: #768192;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: padding-box;
  box-shadow: #768192;
}
